<footer>
  <div id="footer_content">
    <div id="footer_contacts">
      <h1>Mercadinho - angular</h1>
      <p>Projeto de supermercado e-commerce.</p>

      <div id="footer_social_media">
        <a
          href="https://www.instagram.com/lucass.leite_/"
          class="footer-link"
          id="instagram"
          target="_blank"
        >
          <i class="fa-brands fa-instagram"></i>
        </a>

        <a
          href="https://github.com/lucasLmontes"
          class="footer-link"
          id="github"
          target="_blank"
        >
          <i class="fa-brands fa-github"></i>
        </a>

        <a
          href="https://www.linkedin.com/in/lucas-leite-montes-a3429b26b/"
          class="footer-link"
          id="linkedin"
          target="_blank"
        >
          <i class="fa-brands fa-linkedin"></i>
        </a>
      </div>
    </div>

    <div id="footer_promo">
      <h3>Inscreva-se</h3>

      <p>
        Insira seu email para ser notificado sobre novas promoções no mercadinho
      </p>

      <div id="input_group">
        <input type="email" id="email" />
        <button>
          <i class="fa-regular fa-envelope"></i>
        </button>
      </div>
    </div>
  </div>

  <div id="footer_copyright">&copy; 2025 all rights reserved</div>
</footer>
