<div class="page-container">
    <h1>Sobre o site</h1>
    <p>Este é um projeto individual em Angular voltado para o aprendizado em programação front-end.</p>

    <h2>Por que criar este projeto?</h2>
    <p>Pela variedade de mecanismos diferentes que podem ser implementados no contexto de e-commerce, não se limitando somente à exposição de produtos, mas também a outras
        possibilidades mais abrangentes como, validação de usuário, adição de itens em um elemnto específico (carrinho de compras), validações via e-mail etc.</p>

    <p>Acesse o git para ter acesso ao código do projeto</p>
        <a href="https://github.com/lucasLmontes/mercadinho" target="_blank">
            <img src="https://cdn-icons-png.flaticon.com/256/25/25231.png" alt="gitImg" >
        </a>
</div>