<div class="produtos-container">
  <h1>{{ categoria | titlecase }}</h1>

  <div *ngIf="produtos.length > 0; else semProdutos">
    <div class="lista-produtos">
      <div class="produto" *ngFor="let p of produtos">
        <img [src]="p.imagem" [alt]="p.nome" />
        <h3>{{ p.nome }}</h3>
        <p>{{ p.descricao }}</p>
        <span class="preco">{{ p.preco }}</span>
      </div>
    </div>
  </div>

  <ng-template #semProdutos>
    <p>Nenhum produto cadastrado ainda para esta categoria.</p>
  </ng-template>
</div>
