<header>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
    integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
  <link
    href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap"
    rel="stylesheet"
  />

  <div class="logo">
    <img
      src="https://cdn-icons-png.flaticon.com/512/263/263142.png"
      alt="carrinho"
    />
    <h1>Mercadinho</h1>
  </div>
  <nav>
    <a routerLink="/">Home</a>
  </nav>
</header>
