header {
    width: 100%;
    background-color: rgb(179, 95, 40);
    margin: 0;
    padding-block: 20px;
}

header a {
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(202, 108, 45);
    text-decoration: none;
    color: white;
}

header a:hover {
    color: rgb(255, 193, 152);
    background-color: rgb(167, 88, 35);
}